.Login{
    background-color: #24385b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
}
.Login > div > img{
    object-fit: contain;
    height: 150px;
}
.Login > button{
    width: 300px;
    color: white;
    background-color: rgb(6, 147, 188);
}
.Login > button:hover{
   background-color: white;
    color: rgb(6, 147, 188); 
}