.message {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: 15px;
    width: fit-content;
  }
  
  .messageContents {
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: auto;
  }
  
  .message > div > p {
    color: #fff;
    margin: 0;
    max-width: 50vh;
  }
  
  .message > div > small {
    display: block;
    color: #fff;
    font-size: 8px;
    margin-top: 0.25rem;
  }
  
  .messageSender {
    margin-left: auto;
  }
  
  .messageSender > .messageContents {
    background-color: rgb(1, 140, 190);
  }
  
  .messageSender > .messagePhoto {
    order: 1;
    margin: 15px;
  }
  
  .messageReceiver {
    margin-right: auto;
  }
  
  .messageReceiver > .messageContents {
    background-color: rgb(16, 52, 110);
  }
  
  .messageReceiver > .messageContents > p {
    margin-bottom: 0;
  }
  
  .messageReceiver > .messageContents > small {
    display: block;
  }
  
  .messageReceiver > .messagePhoto {
    order: -1;
    margin: 15px;
  }
  
  .messageFileImage {
    width: 40vh;
    margin-top: 10px;
  }
  .task-name, .due-date, .number-files{
    color: #fff;
  }