.settingsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #24385b;
    color: white;
    height: 100vh;
    overflow: hidden;
    align-items: center;
  }
  
  .settings {
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .spinner {
    animation: rotate 1s linear infinite;
    font-size: 8em;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  .avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  .uploadPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: auto;
  }
  
  .fileButton {
    width: 200px;
    color: white;
    background-color: rgb(6, 147, 188);
    margin: 10px;
  }
  .fileButton:disabled:hover{
    color: white;
    background-color: rgb(6, 147, 188);
  }
  .fileButton:hover{
    width: 200px;
    color: rgb(6, 147, 188);
    background-color: white;
    margin: 10px;
  }
  
  .fileButtonLabel {
    width: 200px;
    color: white;
    margin: 10px;
    padding: 2px;
  }
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
