.sidebar{
    flex: .25;
    display: flex;
    flex-direction: column;
    border-right:rgba(180, 180, 180, .1) 1px solid;
    height: 100vh;
    background-color: #24385b;
}
.sidebarHeader{
    height: 55px;
    padding: 10px;
    align-items: center;
    display: flex;
}
.sidebarSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
    border-radius: 5px;
    padding: 2px;
    background-color: #4b5276;
}
.sidebarInput{
    background-color: transparent;
    outline-width: 0;
    color: #FFF;
    flex: 1;
    border: none;
}
#sidebarButton{
    color: #FFF !important;
}
#sidebarButton:hover{
    background-color: rgb(1, 140, 199);
}
.sidebarThreads{
    overflow: scroll;
    flex: 1;
}
.sidebarThreads::-webkit-scrollbar{
    display: none;
}
.sidebarBottom{
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-top: 1px solid rgba(180, 180, 180, .1);
    position: relative;
}
.sidebarBottomAvatar:hover{
    opacity: .5;
    cursor: pointer;
}
.sidebarBottom button{
    color: #fff;
}
.sidebarBottom button:hover{
    color: rgb(1, 140, 199);
}
.groups-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  .groups-overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(1, 140, 180);
    color: white;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .groups-overlay-content {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 0 0 0.5rem 0.5rem;
    overflow-y: auto;
    padding: 1rem;
  }
