.sidebarThread{
    align-items: center;
    display: flex;
    color: #fff;
    cursor: pointer;
    border-bottom: solid 1px rgba(180, 180, 180, .1);
    padding: 20px;
}
.sidebarThread:hover{
    background-color: rgb(1, 140, 199);
}
.sidebarThreadDetails{
    width: 100%;
    position: relative;
    margin-left: 15px;
}
.sidebarThreadTime{
    top: 5px;
    right: 0;
    position: absolute;
}