
body {
    background-color: #24385b;
}
body::-webkit-scrollbar{
    display: none;
}
.heading{
    color: white;
}
.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 5px;
    
  }
  .textarea{
    height: 40vh;
    resize: none;
  }
  span{
    color: white;
  }
  .button {
    padding: 10px 20px;
    background-color: rgb(6, 147, 188);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: white;
    color: rgb(6, 147, 188);;
  }
  .tabs {
    display: flex;
    justify-content: space-between;
    background-color: #24385b;
    padding: 10px;
    border-radius: 10px;
  }
  
  .tab {
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    margin: 5px;
    color: white;
    background-color: #24385b;
  }
  
  .tab.active {
    background-color: rgb(6, 147, 188);
    color: white;
    border-bottom: none;
    cursor: default;
    
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .remove-file-button{
    color: red;
  }
  .task-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .task-item.selected {
    display: none;
  }
  .task-item-details{
    color: #fff;
  }
  .tab-content{
    width: 50vh;
  }
  .task-item-edit{
    max-width: 45vh;
  }
  .attachment-name{
    margin-right: 20px;
  }

.threads-list {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  max-height: 50vh; 
  overflow-y: auto;
  max-width: 90%;
  background-color: rgb(1, 140, 190);;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.threads-list-item {
  margin-bottom: 10px;
  cursor: pointer;
}


.threads-list-item.selected {
  background-color: #f0f0f0;
}


.threads-list-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #999;
  font-size: 18px;
}

.threads-list-close-button:hover {
  color: #666;
}
