.popup {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgb(1, 140, 190);;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    z-index: 9999;
    margin-right: 30px;
    color: white;
  }
  
  .participant-info {
    margin-bottom: 16px;
  }
  
  .participant-email {
    font-weight: bold;
  }
  
  .thread-photo-wrapper {
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .thread-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
  }
  
  .no-photo {
    text-align: center;
    font-style: italic;
    color: #888;
  }

  