.thread{
    height: 100vh;
    display: flex;
    flex: .75;
    flex-direction: column;
    background-color: #24385b;;
}
.threadHeader{
    border-bottom: solid 1px rgba(1, 140, 199, .1);
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.threadHeaderContent{
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.threadHeader > button{
    color: #fff;
}
.threadHeaderDetails > button:hover{
    color: rgb(1, 140, 180);
}
.threadHeaderContentInfo h5{
    color: dimgrey;
    font-weight: 500;
}
.threadMessages{
    flex: 1;
    overflow: scroll;
}
.threadHeader::-webkit-scrollbar{
    display: none;
}
.threadInput{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-top: 1px solid rgba(188, 188, 188, .1);
    background-color: transparent;
}
.threadInput > form{
    display: flex;
    flex: 1;
    flex-direction: row;
}
 .threadInput > form > input{
    width: 96%;
    outline-width: 0 !important;
    outline: none;
    border: none;
    border-radius: 0 !important;
    background-color: transparent;
    color: #fff;
    padding: 5px;
 }
 .threadInput > form > button{
    color: #fff;
 }
 .threadInput > form > button:hover{
    background-color: rgb(1, 140, 180);
 }
 .threadMessages::-webkit-scrollbar{
    display: none;
 }
